.wrapper {
  max-width: 800px;
}

.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.table .row {
  display: table-row;
  background: #f6f6f6;
}
.table .row:nth-of-type(odd) {
  background: #F3F5FA;
}
.table .row.header {
  font-weight: 900;
  color: #ffffff;
  background: #357DFD;
}

.table  .row.blue {
  background: #357DFD;
}

@media screen and (max-width: 580px) {
  .table .row {
    padding: 14px 0 7px;
    display: block;
  }
  .table .row.header {
    padding: 0;
    height: 6px;
  }
  .table .row.header .cell {
    display: none;
  }
  .table .row .cell {
    margin-bottom: 10px;
  }
  .table .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.table .cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .table .cell {
    padding: 2px 16px;
    display: block;
  }
}