<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/layout :: layout (~{::main},'updateWaterBodyAdmin', 'Информация о водном объекте')}">
    
<main class="container mb-5" >
    <div class="container">
        <div th:replace="~{admin/fragments/waterBodyHeader :: waterBodyHeader(${page}, ${waterBody.municipality.id}, ${waterBody.id})}" />
        <h3 class="text-center">Водный объект муниципалитета</h3>
        <form method="post" th:action="@{''}" class="pt-2 pb-5 mb-5" th:object="${waterBody}">
            <input type="hidden" th:field="*{id}" />
            <input th:replace="~{admin/fragments/inputField :: inputField ('Название', 'title', 'text')}" />

            
            <button class="btn btn-primary" type="submit" th:text="'Обновить'"></button>
        </form>

    </div>
</main>

</html>