<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/fragments/layout :: layout (~{::main}, 'listProtectiveMeasuresAdmin', 'Защитные мероприятия')}">
<main class="container">
    
     <h1 class="text-center">Защитные мероприятия</h1>
   
    <button  id="create" class="btn btn-outline-primary">Добавить запись</button>
    <button  id="delete" class="btn btn-danger" disabled>Удалить выбранные</button>
    <table id="data_table" class="uk-table uk-table-hover uk-table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>id</th>
            </tr>
        </thead>


    </table>
</main>

</html>
