<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/fragments/layout :: layout (~{::main}, 'listFederalSubjectsUser', 'Субъекты РФ')}">
<main class="container">
    <h2 class="text-center mt-4">Риски в субъектах РФ</h2>
   
    <table id="data_table" class="uk-table uk-table-hover uk-table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Тип субъекта</th>
                <th>Ссылка</th>
            </tr>
        </thead>


    </table>
</main>
    
</html>
