<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/layout :: layout (~{::main},'createMunicipalityAdmin', 'Создание муниципалитета')}">
    
<main class="container mb-5" >
    <div class="container">
        <h3 class="text-center">Создание муниципалитете</h3>
        <form method="post" th:action="@{''}" class="pt-2 pb-5 mb-5" th:object="${municipality}">
            <input type="hidden" th:field="${municipality.id}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Название', 'title', 'text')}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Средняя стоимость жизни для муниципалитета (в рублях)', 'averageHumanLifeCost', 'number')}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Население муниципалитета (на момент прогноза)', 'currentPopulation', 'number')}" />
            
            <button class="btn btn-primary" type="submit" th:text="'Создать'"></button>
        </form>
    </div>
</main>

</html>