<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/layout :: layout (~{::main},'updateMunicipalityAdmin', 'Информация о муниципалитете')}">
    
<main class="container mb-5" >
    <div class="container">
        <div th:replace="~{admin/fragments/municipalityHeader :: municipalityHeader(${page}, ${municipality.id})}" />
        <h3 class="text-center">Обновить информацию о муниципалитете</h3>
        <form method="post" th:action="@{''}" class="pt-2 pb-5 mb-5" th:object="${municipality}">
            <input type="hidden" th:field="${municipality.id}" />
            <input type="hidden" th:field="*{federalSubject}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Название', 'title', 'text')}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Средняя стоимость жизни для муниципалитета (в рублях)', 'averageHumanLifeCost', 'number')}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Население муниципалитета (на момент прогноза)', 'currentPopulation', 'number')}" />
            
            <div class="form-group">
                <label class="control-label" th:for="*{municipalityType}">Вид муниципалитета</label>
                <div>
                    <select class="col-8" th:field="*{municipalityType}">
                        <option th:value="''" th:text="'Не выбрано'"></option>
                        <option th:each="item : ${municipalityTypes}" th:value="${item.id}"
                        th:text="${item.getTitle()}"
                        th:selected="${#strings.equals(item.id, municipalityType?.id)}"
                        ></option>
                    </select>
                </div>
            </div>
            
            <button class="btn btn-primary" type="submit" th:text="'Обновить'"></button>
        </form>
    </div>
</main>

</html>