<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{admin/fragments/layout :: layout (~{::main},'updateFederalSubjectAdmin', 'Информация о субъекте РФ')}">
    
<main class="container mb-5" >
    <div class="container mt-5">
        <div th:replace="~{admin/fragments/federalSubjectHeader :: federalSubjectHeader(${page}, ${federalSubject.id})}" ></div>
        <h3 class="text-center">Обновить информацию о субъекте</h3>
        <form method="post" th:action="@{''}" class="pt-2 pb-5 mb-5" th:object="${federalSubject}">
            <input type="hidden" th:field="*{id}" />
            
            <div th:class="${'form-group row'}">
                   <div class="col-sm-12 col-md-6">
                       <label class="control-label" th:text="${'Численность субъекта (на момент прогноза)'}" th:for="*{currentPopulation}">Label</label>
                       <div class="input-group has-error">
                            <input th:class="${'form-control'}" type="number" th:field="*{currentPopulation}" readonly/>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-edit"></i></span>
                            </div>
                       </div>
                   </div>
               </div>
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Название', 'title', 'text')}" />
            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Средняя стоимость жизни для субъекта (в рублях)', 'averageHumanLifeCost', 'number')}" />
            <input th:replace="~{admin/fragments/inputField :: inputField ('Допустимый риск гибели людей для субъекта (в рублях)', 'acceptableProbabilityOfDeath', 'number')}" />
            
            <select th:replace="~{admin/fragments/selectField :: selectField ('Выберите вид субъекта', 'federalSubjectType', ${federalSubjectTypeValues})}" />
            
            
            <h2 class="text-center mt-5">Привязать муниципалитеты</h2>
            <div class="col-md-12 mt-2">

                    <select multiple="multiple" size="10" id="optionsbox" th:field="*{municipalities}" class="form-control">
                        <option th:each="e : ${availableMunicipalities}"
                                th:value="${e.id}"
                                >
                            ID - [[${e.id}]]: [[${e?.title}]]
                        </option>
                    </select>
            </div>
            <button class="btn btn-primary" id="submit_button" type="submit" th:text="'Обновить'"></button>
        </form>

    </div>
</main>

</html>