<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/fragments/layout :: layout (~{::main}, 'createOrUpdateMunicipalityForecastAdmin', 'Создание прогноза')}">
<main class="container">
    <div th:replace="~{admin/fragments/municipalityHeader :: municipalityHeader(${page}, ${municipalityId})}" />
    
    <div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Создание прогноза рисков для муницпалитета</h2>

            <form th:action="@{''}" method="post" th:object="${populationInAnalyzedPeriod}">
<!--                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{municipality}" />-->            
            <input th:replace="~{admin/fragments/inputField :: inputField ('Население муниципалитета в первый год анализируемого периода', 'populationInFirstYear', 'number')}" />
            <input th:replace="~{admin/fragments/inputField :: inputField ('Население муниципалитета во второй год анализируемого периода', 'populationInSecondYear', 'number')}" />
            <input th:replace="~{admin/fragments/inputField :: inputField ('Население муниципалитета в третий год анализируемого периода', 'populationInThirdYear', 'number')}" />
            <input th:replace="~{admin/fragments/inputField :: inputField ('Население муниципалитета в четвертый год анализируемого периода', 'populationInFourthYear', 'number')}" />
            
            <div th:class="${'form-group row'}">
               <div class="col-sm-12 col-md-6">
                   <label class="control-label" th:text="${'Население муниципалитета (на момент прогноза)'}" th:for="*{populationInFifthYear}">Label</label>
                   <div class="input-group has-error">
                        <input th:class="${'form-control'}" type="number" th:field="*{populationInFifthYear}" readonly/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-edit"></i></span>
                        </div>
                   </div>
               </div>
           </div>
            
            <button class="btn btn-primary" type="submit" th:text="'Обновить'"></button>

            </form>

        </div>
    </div>
</div>
</main>
    
</html>
