<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(modalHeader, modalBody, modalFooter)" class="modal fade" id="modalTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div th:replace="${modalHeader}"></div>
            
            <div th:replace="${modalBody}"></div>
            
            <div th:replace="${modalFooter}"></div>
        </div>
    </div>
</div>
</body>
</html>