<th:block th:fragment="css"><th:block th:switch="${page}">
    <th:block th:case="indexAdmin">
        <!--Главная-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/index.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
    <th:block th:case="listMunicipalitiesAdmin">
        <!--Муниципалитеты-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
        
    <th:block th:case="createOrUpdateMunicipalityForecastAdmin">
        <!--Создание или обновление прогноза для муниципалитета-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/municipality_forecast.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
        
    <th:block th:case="createMunicipalityAdmin">
        <!--Создание муниципалитета-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
    
    <th:block th:case="listProtectiveMeasuresAdmin">
        <!--Защитные мероприятия-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
    <th:block th:case="updateProtectiveMeasureAdmin">
        <!--Защитное мероприятие-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">    
    </th:block>
        
    <th:block th:case="updateMunicipalityAdmin">
        <!--Муниципалитет-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
        
    <th:block th:case="listMunicipalityWaterBodiesAdmin">
        <!--Водные объекты муниципалитета-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
        
    <th:block th:case="updateWaterBodyAdmin">
        <!--Водный объект-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
        
    <th:block th:case="listWaterBodyCrowdedPlacesAdmin">
        <!--Места массового скопления водного объекта-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
        
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
    </th:block>
        
    <th:block th:case="updateCrowdedPlaceAdmin">
        <!--Место массового скопления-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
        
    <th:block th:case="listWaterBodyVesselOperationPlacesAdmin">
        <!--Места эксплуатации маломерных судов водного объекта-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
    </th:block>
        
    <th:block th:case="updateVesselOperaionPlaceAdmin">
        <!--Место эксплуатации маломерных судов-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
    <th:block th:case="listMunicipalityTypesAdmin">
        <!--Виды муниципалитетов-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>

    <th:block th:case="listFederalSubjectsAdmin">
    <!--Субъекты РФ-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
    <th:block th:case="updateFederalSubjectAdmin">
        <!--Субъекты РФ-->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/bootstrap-duallistbox.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/svg_map.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
        
    <th:block th:case="updateFederalSubjectForecastAdmin">
        <!--обновление прогноза для субъекта-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/municipality_forecast.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/tabs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
    <th:block th:case="createFederalSubjectAdmin">
        <!-- Создание Субъекта РФ-->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/bootstrap-duallistbox.min.css}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>

    <th:block th:case="listFederalDistrictsAdmin">
        <!--Федеральные оурга РФ-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
 
    <th:block th:case="updateFederalDistrictAdmin">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/bootstrap-duallistbox.min.css}"/>
    </th:block>
 
    <th:block th:case="listUsersAdmin">
        <!--Пользователи-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css">
    </th:block>
        
    <th:block th:case="updateUserAdmin">
        <!--Обновление пользователя-->
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/admin/fix-crumbs.css}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
        
    <th:block th:case="createUserAdmin">
        <!--Создание пользователя-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    </th:block>
</th:block></th:block>