<header th:fragment="header(page)">
    <!--Шаблон для menu item-->
    <div th:remove="all">
        <li th:fragment="menuItem (path,active,title,page)" th:class="'nav-item ' + ${active==page ? 'active' : ''}">
          <a class="nav-link" th:href="@{${path}}" th:text="${title}"></a>
        </li>
    </div>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/admin">Панель Администратора</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" sec:authorize="isAuthenticated()">
                <ul class="navbar-nav ml-auto">
                    <li th:replace="::menuItem ('/admin/federal-districts','federalDistrictIndexAdmin','Федеральные округа', ${page})"/>
                    <li th:replace="::menuItem ('/admin/federal-subjects','federalSubjectIndexAdmin','Субъекты РФ', ${page})"/>
                    <li th:replace="::menuItem ('/admin/municipalities','municipalityIndexAdmin','Муниципалитеты', ${page})"/>
                    <li th:replace="::menuItem ('/admin/municipality-types','municipalityTypeIndexAdmin','Виды муниципалитетов', ${page})"/>
                </ul>
            </div>
            <form th:action="@{/logout}" method="POST" class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()">
                <button type="submit" class="btn btn-outline-danger">Выйти</button>
            </form>
        </div>
    </nav>
</header>