<th:block th:fragment="js">
    <th:block th:switch="${page}">
        <th:block th:case="listMunicipalitiesAdmin">
            <!--Муниципалитет-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/municipality/municipality_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        <th:block th:case="listMunicipalityForecastsAdmin">
            <!--Прогнозы муниципалитета-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/municipality_forecast/municipality_forecast_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        <th:block th:case="createMunicipalityForecastAdmin">
            <!--Создание прогноза для муниципалитета-->
            <script th:src="@{/resources/js/admin/jquery-steps/jquery.steps.min.js}"></script>
            <script th:src="@{/resources/js/admin/jquery-validate/jquery.validate.min.js}"></script>
            <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
            <script th:src="@{/resources/js/admin/municipality_forecast/create_municipality_forecast.js}"></script>
        </th:block>
        
        <th:block th:case="listProtectiveMeasuresAdmin">
            <!--Защитные мероприятия-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/protective_measure/protective_measure_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
 
    <th:block th:case="listMunicipalityWaterBodiesAdmin">
        <!--Водные объекты муниципалитета-->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
        <script th:src="@{/resources/js/admin/water_body/water_body_datatables_settings.js}"></script>
        <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
    </th:block>
    
    <th:block th:case="listWaterBodyCrowdedPlacesAdmin">
        <!--Места массового скопления водного объекта-->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
        <script th:src="@{/resources/js/admin/crowded_place/crowded_place_datatables_settings.js}"></script>
        <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
    </th:block>
        
    <th:block th:case="listWaterBodyVesselOperationPlacesAdmin">
        <!--Места эксплуатации маломерных судов водного объекта-->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
        <script th:src="@{/resources/js/admin/small_vessel_operation_place/small_vessel_operation_place_datatables_settings.js}"></script>
        <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
    </th:block>
        
        <th:block th:case="listMunicipalityTypesAdmin">
            <!--Виды муниципалитетов-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/municipality_type/municipality_type_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        <th:block th:case="listFederalSubjectsAdmin">
            <!--Субъекты РФ-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/federal_subject/federal_subject_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        <th:block th:case="updateFederalSubjectAdmin">
            <!--Субъекты РФ-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/jquery.bootstrap-duallistbox.min.js}"></script>
            <script th:src="@{/resources/js/admin/federal_subject/federal_subject_duallistbox.js}"></script>
        </th:block>
        
        <th:block th:case="listFederalDistrictsAdmin">
            <!--Федеральные округа РФ-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/federal_district/federal_district_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
            
            <script th:src="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/jquery.bootstrap-duallistbox.min.js}"></script>
            <script th:src="@{/resources/js/admin/federal_district/federal_district_duallistbox.js}"></script>
        </th:block>
        
        <th:block th:case="updateFederalDistrictAdmin">
            <!--Федеральные округа РФ-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
 <script th:src="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/jquery.bootstrap-duallistbox.min.js}"></script>
            <script th:src="@{/resources/js/admin/federal_district/federal_district_duallistbox.js}"></script>
        </th:block>
</th:block>