<th:block th:fragment="js">
    <th:block th:switch="${page}">
        <th:block th:case="employeeIndexAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/employeeDatatables.js}"></script>
        </th:block>
        <th:block th:case="employeeUpdateAdmin">
            <script th:src="@{/resources/js/admin/employee.js}"></script>
            <script th:src="@{/webjars/select2/4.0.13/js/select2.min.js}"></script>
            <script th:src="@{/resources/js/admin/employeeUpdateSelect2.js}"></script>
        </th:block>
        <th:block th:case="educationUpdateAdmin">
            <script th:src="@{/resources/js/admin/education.js}"></script>
        </th:block>
        <th:block th:case="familyUpdateAdmin">
            <script th:src="@{/resources/js/admin/family.js}"></script>
        </th:block>
        <th:block th:case="vacationUpdateAdmin">
            <script th:src="@{/resources/js/admin/vacation.js}"></script>
        </th:block>
        <th:block th:case="jobHistoryUpdateAdmin">
            <script th:src="@{/resources/js/admin/job_history.js}"></script>
        </th:block>   
        <th:block th:case="positionListAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js">
                </script>
            <script th:src="@{/resources/js/admin/positionDatatables.js}"></script>
        </th:block>
        <th:block th:case="departmentListAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/departmentDatatables.js}"></script>
        </th:block>
        <th:block th:case="indexStaffingTableAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/staffingTableDatatables.js}"></script>
        </th:block>
        <th:block th:case="updateStaffingTableAdmin">
            <script th:src="@{/webjars/bootstrap4-duallistbox/4.0.2/dist/jquery.bootstrap-duallistbox.min.js}"></script>
            <script th:src="@{/resources/js/admin/staffingTableUpdate.js}"></script>
        </th:block>
</th:block>