<th:block th:fragment="js">
    <th:block th:switch="${page}">
        <!--Муниципалитет-->
        <th:block th:case="municipalityIndexAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/municipality_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        
        <!--Виды муниципалитетов-->
        <th:block th:case="municipalityTypeIndexAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/municipality_type_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        <!--Субъекты РФ-->
        <th:block th:case="federalSubjectIndexAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/federal_subject_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
        
        <!--Федеральные оурга РФ-->
        <th:block th:case="federalDistrictIndexAdmin">
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/admin/federal_district_datatables_settings.js}"></script>
            <script th:src="@{/resources/js/admin/datatables_init.js}"></script>
        </th:block>
</th:block>