<th:block th:fragment="js">
    <th:block th:switch="${page}">
        <th:block th:case="indexUser">
            <!--Главная-->
            <script th:src="@{/resources/js/mapinit.js}"></script>
            <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
            <script th:src="@{/resources/js/svgzoom.js}"></script>
        </th:block>
        
        <th:block th:case="listMunicipalitiesUser">
            <!--Муниципалитет-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/municipality/municipality_datatables_settings.js}"></script>
        </th:block>
        
        <th:block th:case="listFederalSubjectsUser">
            <!--Субъекты РФ-->
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script th:src="@{/resources/js/federal_subject/federal_subject_datatables_settings.js}"></script>
           
        </th:block>
</th:block>